@charset "UTF-8";
/*=============================================
=            $SASS           =
=============================================*/
/*----------  RESET  ----------*/
/*=============================================
=            $RESET          =
=============================================*/
/* -------------------- */
/* MINIMAL CSS RESET */
/* -------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------  VARIABLES  ----------*/
/*=============================================
=            $VARIABLES           =
=============================================*/
/*
db    db  .d8b.  d8888b. d888888b  .d8b.  d8888b. db      d88888b .d8888.
88    88 d8' `8b 88  `8D   `88'   d8' `8b 88  `8D 88      88'     88'  YP
Y8    8P 88ooo88 88oobY'    88    88ooo88 88oooY' 88      88ooooo `8bo.
`8b  d8' 88~~~88 88`8b      88    88~~~88 88~~~b. 88      88~~~~~   `Y8b.
 `8bd8'  88   88 88 `88.   .88.   88   88 88   8D 88booo. 88.     db   8D
   YP    YP   YP 88   YD Y888888P YP   YP Y8888P' Y88888P Y88888P `8888Y'


*/
/*=============================================
=            TIPOLOGIA            =
=============================================*/
@font-face {
  font-family: 'MontserratRegular';
  src: local("MontserratRegular"), url(../fonts/MonserratRegular.woff) format(woff);
}

@font-face {
  font-family: 'MontserratBold';
  src: local("MontserratBold"), url(../fonts/MonserratBold.woff) format(woff);
}

/*=====  Fin de Tipología  ======*/
/*=============================================
=            Colores de Marca            =
=============================================*/
/*=====  Fin de Colores de Marca  ======*/
html {
  font-family: 'MonserratRegular', sans-serif;
  font-size: 16px;
  color: #444444;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

header {
  font-family: 'MonserratBold', sans-serif;
}

footer {
  font-family: 'MonserratBold', sans-serif;
}

a {
  text-decoration: none;
  color: #ebebeb;
}

i {
  color: #ebebeb;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  i {
    font-size: 18px;
  }
}

/*----------  TIPOGRAFIA  ----------*/
/*=============================================
=            $Tipografia            =
=============================================*/
/*----------  LIB  ----------*/
/*=============================================
=            $MIXINS         =
=============================================*/
/*
.88b  d88. d888888b db    db d888888b d8b   db
88'YbdP`88   `88'   `8b  d8'   `88'   888o  88
88  88  88    88     `8bd8'     88    88V8o 88
88  88  88    88     .dPYb.     88    88 V8o88
88  88  88   .88.   .8P  Y8.   .88.   88  V888
YP  YP  YP Y888888P YP    YP Y888888P VP   V8P


*/
/*=============================================
=           Para los fontface            =
=============================================*/
/*=============================================
=            MEDIAS para MOVILES            =
=============================================*/
/*=============================================
=            PIXEL RATIO            =
=============================================*/
/*=============================================
=            $PLACEHOLDERS        =
=============================================*/
/*----------  LINKS  ----------*/
/*=============================================
=            $ENLACES           =
=============================================*/
.menu {
  height: 250px;
}

.menu__fondo {
  width: 100%;
  height: 100%;
  background-image: url("../img/smartphone/@2x/banner@2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Fondo para Pixel Ratio 3.   */
}

@media only screen and (pixel-ratio: 3) {
  .menu__fondo {
    background-image: url("../img/smartphone/@3x/banner@3x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .menu__fondo {
    height: 700px;
  }
}

@media only screen and (min-width: 1200px) and (pixel-ratio: 2) {
  .menu__fondo {
    background-image: url("img/desktop/@2x/banner@2x.jpg");
  }
}

.menu__fondo__encabezado {
  background-color: #444444;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px 0 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__fondo__encabezado__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.menu__fondo__encabezado__logo img {
  width: 65px;
  height: 65px;
}

.menu__fondo__encabezado__logo span {
  font-size: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #ebebeb;
}

@media screen and (min-width: 1200px) {
  .menu__fondo__encabezado__logo span {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.menu__fondo__encabezado #activar {
  display: none;
}

@media screen and (min-width: 1200px) {
  .menu__fondo__encabezado__inputlabel {
    display: none;
  }
}

.menu__fondo__encabezado__desplegable {
  display: none;
  position: absolute;
  top: 65px;
  right: 20px;
}

@media screen and (min-width: 1200px) {
  .menu__fondo__encabezado__desplegable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__fondo__encabezado__desplegable__a {
    color: #444444;
    text-align: center;
    padding: 15px 10px;
    border: 1px #444444 solid;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .menu__fondo__encabezado__desplegable__a {
    color: #ebebeb;
    border: 0px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu__fondo__encabezado__desplegable__a__banderas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu__fondo__encabezado__desplegable__a__banderas__a img {
    height: 30px;
    width: 30px;
  }
}

.menu__fondo__encabezado__desplegable #activar:checked ~ .menu__fondo__encabezado__desplegable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebebebdc;
  height: 200px;
  width: 40%;
}

@media screen and (min-width: 1200px) {
  .menu__fondo__encabezado__desplegable #activar:checked ~ .menu__fondo__encabezado__desplegable {
    display: none;
  }
}

/*----------  Formularios  ----------*/
/*=============================================
=            $FORMULARIOS           =
=============================================*/
.contactform {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  padding: 4%;
  font-family: 'MonserratBold',sans-serif;
  grid-row-gap: 20px;
  padding: 3%;
  font-family: 'MonserratBold',sans-serif;
  color: #444444; }

.h2form {
  font-family: 'MonserratBold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  grid-row: 1;
  grid-column: 1 / 4; }

.nombre {
  grid-column: 1 / 4;
  grid-row: 2; }

.email {
  grid-column: 1 / 4;
  grid-row: 3; }

.telefono {
  grid-column: 1 / 4;
  grid-row: 4; }

<<<<<<< HEAD
.servicios {
  height: 29px;
  overflow: hidden;
  border: 1px solid #444444;
  grid-row: 5;
  color: #444444;
  border-radius: 4px;
  grid-column: 1 / 4; }

.particular {
  grid-column: 1 / 2;
  grid-row: 6;
  justify-self: center; }

.empresa {
  grid-column: 3 / 4;
  grid-row: 6;
  justify-self: center; }

.comentarios {
  grid-column: 1/ 4;
  grid-row: 7; }
=======

.nombre,
.email,
.telefono,
.servicios {
  grid-column: 1 / 4;
}

.particular {
  grid-column: 1 / 2;
  grid-row: 5;
  justify-self: center;
}

.empresa {
  grid-column: 3 / 4;
  grid-row: 5;
  justify-self: center;
}

.comentarios {
  grid-column: 1/ 4;
  grid-row: 6;
}
>>>>>>> c4657d52579b8a6ae53006be0b10b62b52d47eb9

.txtcomentarios {
  color: #444444;
  border: 1px solid;
}


<<<<<<< HEAD
=======
.servicios {
  height: 29px;
  overflow: hidden;
  width: 100%;
  border: 1px solid;
  grid-row: 4;
}

.servicios select {
  background: transparent;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 100%;
}

.servicios.black {
  height: 34px;
  width: 100%;
  border: 1px solid #444444;
  grid-row: 4;
  color: #444444;
  border-radius: 4px; }

>>>>>>> c4657d52579b8a6ae53006be0b10b62b52d47eb9
.servicios select {
  background: transparent;
  border: #444444;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  color: #444444;
  border-radius: 4px; }

.servicios.black {
  height: 34px; }


.botonconfirmar {
  grid-column: 2 / 3;
  grid-row: 8;
  background-color: #ebebeb;
  border-color: #444444;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 2px;
  height: 45px;
  width: 155px;
  font-weight: bold;
  font-size: 18px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
<<<<<<< HEAD
  color: #444444; }
=======
  color: #fafafa;
}
>>>>>>> c4657d52579b8a6ae53006be0b10b62b52d47eb9

.iconoEmail {
  color: #444444; }

<<<<<<< HEAD
.form_escritorio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  padding: 10%;
  font-family: 'MonserratBold', sans-serif;
  color: #444444; }
=======
>>>>>>> c4657d52579b8a6ae53006be0b10b62b52d47eb9

/*----------  LAYOUTS  ----------*/
/*=============================================
=            $BANNER          =
=============================================*/
/*=============================================
=            $GRIDS         =
=============================================*/
/*=============================================
=            $LAYOUTS         =
=============================================*/
/*----------  Imágenes  ----------*/
