/*=============================================
=            $BANNER          =
=============================================*/

.section{

 &__fondo {
    width: 100%;
    height: 200px;
    background-image: url('../img/smartphone/@2x/banner@2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* Fondo para Pixel Ratio 3.   */
    @media only screen and (pixel-ratio: 3) {
        background-image: url('../img/smartphone/@3x/banner@3x.jpg');

    }

    @media screen and (min-width: 1200px) {
        height: 700px;

        @media only screen and (pixel-ratio: 2) {
            background-image: url('img/desktop/@2x/banner@2x.jpg');

        }
    } 
 }

 

}