/*=============================================
=            $LAYOUTS         =
=============================================*/

/*=============================================
=            Código Servicios Mati            =
=============================================*/
  
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__centrado{
        max-width: 90%;
         margin: 20px auto;
        // display: grid;
        // grid-template-columns: 20px 1fr 20px;
        // grid-template-rows: repeat(5, 500px);


        @each $servicio in estudios, presupuestos, proyectos, direccion, coordinacion {

            &__#{$servicio}{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // grid-column: 2/3;
                // max-width: 330px;
                line-height: 2rem;

                @media screen and (min-width: 800px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                // width: 800px;
               
                }

                &__img{
                    padding-top: 15px;
                    @media screen and (min-width: 800px) {
                        width: 40%;
                       
                    } 
                }

                &__figcaption{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                     align-items: center;

                     @media screen and (min-width: 800px) {
                     width: 55%;
                     }

                    &__t{
                        font-family: 'MontserratBold', sans-serif;
                        padding: 15px 0;
                    }

                    &__p{
                       
                        text-align: justify;
                        padding-bottom: 15px;
                    }

                    &__b{
                        padding: 8px;
                        font-family: 'MontserratBold', sans-serif;

                    }

                }
            }
            
        }

        // &__estudios{
        //  grid-row: 1/2;
        // }

         &__presupuestos{

            @media screen and (min-width: 800px) {
            flex-direction: row-reverse;
         }
        }
        // &__proyectos{
        //     grid-row: 4/5;
        //    }
   
        &__direccion{
            @media screen and (min-width: 800px) {
                flex-direction: row-reverse;
             }
         }
        // &__coordinacion{
        //     grid-row: 6/7;
        //  }

    }
}

.pie {
    //@include flexBox(center, center, row);
    // @include pad-centrar(90%);
    background: map-get(map-get($color, basicos), GrisOscuro);
    color: map-get(map-get($color, basicos), GrisClaro);

    height: 270px;

    display: grid;
    grid-template-rows: 150px 70px 50px;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: 800px) {
        grid-template-rows: 100px 200px 60px 50px;
        grid-template-columns: 1fr 1fr 1fr;
        height: 410px;
    }

    &__logo {
        display: none;

        @media screen and (min-width: 800px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            grid-row: 1/2;
            grid-column: 1/4;

            & img {
                width: 90px;
                height: 90px;
                padding-right: 1%;
            }

            & span {
                font-size: map-get($hs, h1e);
            }
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            grid-row: 2/3;
            grid-column: 1/2;
            border-right: 1px map-get(map-get($color, basicos), GrisClaro) solid;

            &__banderas {
                & img {
                    width: 35px;
                    height: 25px;
                }
            }
        }

    }

    &__social {
        display: flex;
        width: 130px;
        height: 90%;
        margin: auto;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (min-width: 800px) {
            width: 70%;
        }




        &__icons1 {
            display: flex;
            justify-content: space-around;

            @media screen and (min-width: 800px) {
                display: flex;
                flex-direction: column;
                align-items:
                    flex-start;
                justify-content: center;

                .twitter {
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "Twitter ";

                    }
                }

                .facebook {
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "Facebook ";

                    }
                }
            }
        }

        &__icons2 {
            display: flex;
            justify-content: space-around;

            @media screen and (min-width: 800px) {
                display: flex;
                flex-direction: column;
                align-items:
                    flex-start;
                justify-content: center;

                .linkedin {
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "Linkedin ";
                    }

                }

                .instagram {
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "Instagram ";
                    }
                }
            }
        }

    }

    &__terms {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 90%;
        margin: auto;
        justify-content: space-around;
        align-items: space-around;


        @media screen and (min-width: 800px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            grid-row: 3/4;
            grid-column: 1/4;
            border: 1px map-get(map-get($color, basicos), GrisClaro) solid;
            width: 100%;
        }
    }

    &__contacto {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px map-get(map-get($color, basicos), GrisClaro) solid;


        @media screen and (min-width: 800px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            grid-row: 2/3;
            grid-column: 2/3;
            border: 0px;
            border-right: 1px map-get(map-get($color, basicos), GrisClaro) solid;

           

        }

        & span {
            display: flex;
            align-items: center;
            padding: 15px;

        }

        & i {
            padding-right: 8px;
            font-size: 2rem;
        }
    }

    &__copy {
        grid-row: 3/4;
        grid-column: 1/3;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: 800px) {
            grid-row: 4/5;
            grid-column: 1/4;
        }

    }


}

       


