.menu {

    height: 65px;

    &__encabezado {
        background-color: map-get(map-get($color, basicos), GrisOscuro);
        height: 100%;
        display: flex;
        // justify-content: space-between;
        padding: 0 20px 0 5px;
        align-items: center;

        &__logo {

            @include flex-box;

            img {
                width: 65px;
                height: 65px;
            }

            span {
                font-size: map-get($hs, h1m);
                flex-grow: 1;
                color: map-get(map-get($color, basicos), GrisClaro);

                @media screen and (min-width: 1200px) {
                    flex-grow: 0;
                }
            }
        }

        #activar {
            display: none;
        }

        &__inputlabel {
            @media screen and (min-width: 1200px) {
                display: none;
            }
        }

        &__desplegable {
            display: none;
            position: absolute;
            top: 65px;
            right: 20px;

            @media screen and (min-width: 1200px) {
                display: flex;

            }
            
            &__a {
                color: map-get(map-get($color, basicos), GrisOscuro);
                text-align: center;
                padding: 15px 10px;
                border: 1px map-get(map-get($color, basicos), GrisOscuro) solid;


                @media screen and (min-width: 1200px) {
                        color: map-get(map-get($color, basicos), GrisClaro);
                        border: 0px;
                        padding: 0;
                    }
            }        

            &__banderas {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border: 1px map-get(map-get($color, basicos), GrisOscuro) solid;
                height: 65px;

                &__a img {
                    height: 40px;
                    width: 50px;
                        }
                }

            }

            #activar:checked ~ .menu__encabezado__desplegable {
                display: flex;
                flex-direction: column;
                background-color: map-get(map-get($color, basicos), GrisClaroOp);
                height: 202px;
                width: 170px;
                flex-shrink: 3;

                @media screen and (min-width: 1200px) {
                    display: none;
                }

            }

        }
    }
