.menu {

    height: 250px;


    &__fondo {
        width: 100%;
        height: 100%;
        background-image: url('../img/smartphone/@2x/banner@2x.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        /* Fondo para Pixel Ratio 3.   */
        @media only screen and (pixel-ratio: 3) {
            background-image: url('../img/smartphone/@3x/banner@3x.jpg');

        }


        @media screen and (min-width: 1200px) {
            height: 700px;

            @media only screen and (pixel-ratio: 2) {
                background-image: url('img/desktop/@2x/banner@2x.jpg');

            }
        }

        &__encabezado {
            background-color: map-get(map-get($color, basicos), GrisOscuro);
            height: 65px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 5px;

            align-items: center;

            &__logo {

                @include flex-box;

                img {
                    width: 65px;
                    height: 65px;
                }

                span {
                    font-size: map-get($hs, h1m);
                    flex-grow: 1;
                    color: map-get(map-get($color, basicos), GrisClaro);


                    @media screen and (min-width: 1200px) {
                        flex-grow: 0;
                    }


                }
            }

            #activar {
                display: none;
            }

            &__inputlabel {
                @media screen and (min-width: 1200px) {
                    display: none;
                }
            }

            &__desplegable {
                display: none;
                position: absolute;
                top: 65px;
                right: 20px;

                @media screen and (min-width: 1200px) {
                    display: flex;


                    &__a {
                        color: map-get(map-get($color, basicos), GrisOscuro);
                        text-align: center;
                        padding: 15px 10px;
                        border: 1px map-get(map-get($color, basicos), GrisOscuro) solid;

                        @media screen and (min-width: 1200px) {
                            color: map-get(map-get($color, basicos), GrisClaro);
                            border: 0px;
                            padding: 0;
                        }

                    &__banderas {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            &__a img {
                                height: 30px;
                                width: 30px;
                            }
                        }


                    }

                }

                #activar:checked ~ .menu__fondo__encabezado__desplegable {
                    display: flex;
                    flex-direction: column;
                    background-color: map-get(map-get($color, basicos), GrisClaroOp);
                    height: 200px;
                    width: 40%;

                    @media screen and (min-width: 1200px) {
                        display: none;
                    }

                }



            }
        }

    }

}