/*=============================================
=            $FORMULARIOS           =
=============================================*/

.contactform 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    padding: 4%;
}

.nombre,
.email,
.telefono ,
.servicios
{
    grid-column: 1 / 4;
}

.particular {
    grid-column: 1 / 2;
    grid-row: 5;
    justify-self: center;
}

.empresa {
    grid-column: 3 / 4;
    grid-row: 5;
    justify-self: center;
}

.comentarios {
    grid-column: 1/ 4;
    grid-row: 6;
}

.txtcomentarios
{
    color: map-get(map-get($color, basicos), GrisOscuro);

    border: 1px solid;
}


.servicios 
{
    height: 29px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #0e0e0e;
    grid-row: 4;
    color: map-get(map-get($color, basicos), Negro);

}

.servicios select {
    background: transparent;
    border: map-get(map-get($color, basicos), Negro);
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 100%;
    color: map-get(map-get($color, basicos), Negro);

}


.servicios.black 
{
    height: 34px;
    width: 100%;
}


.botonconfirmar {
    grid-column: 2 / 3;
    grid-row: 7;
    background-color: map-get(map-get($color, basicos), GrisClaro);
    border-color:  map-get(map-get($color, basicos), GrisOscuro);
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 2px;
    height: 40px;
    width: 175px;
    font-weight: bold;

}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #0e0e0e;
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    color: map-get(map-get($color, basicos), Blanco);
}


.iconoEmail
{
        color: map-get(map-get($color, basicos), Negro);

}