/*=============================================
=            $FORMULARIOS           =
=============================================*/


.contactform 
{
        grid-row:1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    padding: 3%;
    font-family: 'MonserratBold',sans-serif;
        color: map-get(map-get($color, basicos), GrisOscuro);


}


.h2form {
    font-family: 'MonserratBold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 4;

}
.nombre
{
    grid-column: 1 / 4;
    grid-row:2;
}
.email
{
    grid-column: 1 / 4;
    grid-row:3;
}
.telefono {
    grid-column: 1 / 4;
    grid-row: 4;
}

.servicios {
    height: 29px;
    overflow: hidden;
    border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
    grid-row: 5;
    color: map-get(map-get($color, basicos), GrisOscuro);
    border-radius: 4px;
    grid-column: 1 / 4;

}

.particular {
    grid-column: 1 / 2;
    grid-row: 6;
    justify-self: center;
}

.empresa {
    grid-column: 3 / 4;
    grid-row: 6;
    justify-self: center;
}

.comentarios {
    grid-column: 1/ 4;
    grid-row: 7;
}



.txtcomentarios
{
    color: map-get(map-get($color, basicos), GrisOscuro);
    border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
}




.servicios select {
    background: transparent;
    border: map-get(map-get($color, basicos), GrisOscuro);
    font-size: 14px;
    height: 29px;
    padding: 5px;
    color: map-get(map-get($color, basicos), GrisOscuro);
    border-radius: 4px;

}


.servicios.black 
{
    height: 34px;
}


.botonconfirmar {
    grid-column: 2 / 3;
    grid-row: 8;
    background-color: map-get(map-get($color, basicos), GrisClaro);
    border-color:  map-get(map-get($color, basicos), GrisOscuro);
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 2px;
    height: 45px;
    width: 155px;
    font-weight: bold;
    font-size: 18px;
}

input[type=text],
select,
textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    color: map-get(map-get($color, basicos), GrisOscuro);
}

.iconoEmail
{
  color: map-get(map-get($color, basicos), GrisOscuro);
}


.form_escritorio
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    padding: 10%;
    font-family: 'MonserratBold',
    sans-serif;
    color: map-get(map-get($color, basicos), GrisOscuro);

}