/*=============================================
=            $FORMULARIOS           =
=============================================*/
.contactform
{

      display: grid;
      grid-template-columns: 1fr 300px 1fr;
              //repeat(3, 1fr);
      grid-row-gap: 20px;
      padding: 3%;
      font-family: 'MonserratBold', sans-serif;
      color: map-get(map-get($color, basicos), GrisOscuro);
      justify-self: center;

      @media screen and (min-width: 800px) {
        background-image: url("../icons/envelope-regular.svg");
        //grid-template-columns: 300px 350px 300px;
        grid-template-columns: repeat(3,1fr);
        background-size: 700px;
        background-repeat:no-repeat;
        background-position: center;
      }
      &__origen
      {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__particular {
          grid-column: 1 / 2;
          grid-row: 6;
          display: flex;
          align-items: center;
          @media screen and (min-width: 800px) {
            grid-column: 2 / 3;

          }

        }

        &__empresa {
          grid-column: 3 / 4;
          grid-row: 6;
          display: flex;
          align-items: center;
          @media screen and (min-width: 800px) {
            grid-column: 2 / 3;
          }
        }

      }
      &__h2form,
      &__nombre,
      &__email,
      &__telefono,
      &__servicios,
      &__origen
      {
        grid-column: 2 / 3;
        @media screen and (min-width: 800px) {
          grid-column: 2 / 3;

        }
      }

      &__h2form
      {
        grid-column: 1 / 4;
        font-family: 'MonserratBold', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: map-get(map-get($color, basicos), GrisOscuro);
      }


      &__comentarios {
        grid-column: 2/ 3;
        grid-row: 7;
        color: map-get(map-get($color, basicos), GrisOscuro);

      }

      &__txtcomentarios {
        color: map-get(map-get($color, basicos), GrisOscuro);
        border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
      }

      &__servicios {
        height: 29px;
        overflow: hidden;
    //    border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
        color: map-get(map-get($color, basicos), GrisOscuro);
        font-size: 14px;
      }

      &__servicios select {
        background: transparent;
        border: map-get(map-get($color, basicos), GrisOscuro);
        height: 29px;
        padding: 5px;
        color: map-get(map-get($color, basicos), GrisOscuro);

      }

      &__servicios.black {
        height: 29px;
      }

      &__botonconfirmar {
        grid-column: 2 / 3;
        grid-row: 8;
        background-color: map-get(map-get($color, basicos), GrisClaro);
        border-color: map-get(map-get($color, basicos), GrisOscuro);
        border-radius: 4px;
        cursor: pointer;
        padding-bottom: 2px;
        height: 45px;
        width: 155px;
        font-weight: bold;
        font-size: 18px;
        justify-self: center;
        display: flex;
        align-items: center; // Y
        justify-content: center; //X
      }

      input,
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid map-get(map-get($color, basicos), GrisOscuro);
        border-radius: 0px;
        box-sizing: border-box;
        resize: vertical;
        color: map-get(map-get($color, basicos), GrisOscuro);
        @media screen and (min-width: 800px) {
          width: 100%;

        }
      }

      &__iconoEmail {
        color: map-get(map-get($color, basicos), GrisOscuro);
        font-size: 2rem;
        @media screen and (min-width: 800px) {
         font-size: 1.7rem;
        }
      }

  ::placeholder
  {
    color: solid map-get(map-get($color, basicos), GrisOscuro);
  }

  ::selection { background: black;
  height: 30px;
  }
}

